* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  background-color: rgb(157, 184, 193);
  padding: 10px 5px;
}

header > h1 {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: min(50px, 10%);
  margin-right: min(50px, 10%);
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 300px;
  text-align: center;
}
.hashtags {
  align-self: flex-start;
  margin: 10px;
}
.hashtags > a {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px 5px;
}
footer {
  border: 3px solid black;
  height: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 40;
}
