* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  background-color: rgb(157, 184, 193);
  padding: 10px 5px;
}

header > h1 {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.Card {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: min(50px, 10%);
  margin-right: min(50px, 10%);
  margin-top: 30px;
  margin-bottom: 0px;
  width: 300px;
  text-align: center;
  position: relative;
}
.Card__question {
  font-size: 1.2em;
  max-width: 240px;
  margin-top: 1.2em;
}
.Card__hashtag-list {
  align-self: flex-start;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin: 15px 5px 5px;
  padding: 0;
}
.Card__hashtag-list-item {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px 5px;
}
.Card__bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 30px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(157, 184, 193);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

footer .material-symbols-outlined {
  margin: 10px 5px 6px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 40;
}
