* {
  box-sizing: border-box;
}
:root {
  --color-five: #cacaca;
  --color-two: #575757;
  --color-three: #2b2b2b;
  --color-four: #121212;
  --color-one: #003784;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-four);
  color: var(--color-five);
}
header {
  text-align: center;
  background-color: var(--color-one);
  padding: 10px 5px;
  color: var(--color-five);
}

header > h1 {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

/* card */

.Card {
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: min(50px, 10%);
  margin-right: min(50px, 10%);
  margin-top: 30px;
  margin-bottom: 0px;
  width: 300px;
  text-align: center;
  position: relative;
  background-color: var(--color-three);
  padding: 7px;
  color: var(--color-five);
}
.Card__question {
  font-size: 1.2em;
  max-width: 240px;
  margin-top: 1.2em;
}
.Card__answer-button {
  background-color: var(--color-two);
  border: none;
  padding: 8px;
  margin: 3px;
  color: var(--color-five);
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 6px 19px 2px rgba(0, 0, 0, 0.49);
}
.Card__hashtag-list {
  align-self: flex-start;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin: 15px 5px 5px;
  padding: 0;
}
.Card__hashtag-list-item {
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: var(--color-two);
  opacity: 0.5;
}
.Card__hashtag-list-item a {
  color: black;
  text-decoration: none;
}
.Card__bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 30px;
  color: var(--color-five);
}
.Card__bookmark--marked {
  color: var(--color-one);
}

/* footer */

footer {
  color: var(--color-four);
}
footer ul {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-one);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

footer .material-symbols-outlined {
  margin: 10px 5px 6px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 40;
}

footer a {
  color: black;
  text-decoration: none;
}

/* profile page */
.profile-card {
  border: 2px solid white;
  width: 90%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card__img {
  width: 13rem;
  height: 13rem;
  border-radius: 30%;
}

.profile-card__about {
  align-self: flex-start;
  margin: 0;
}

.profile-card__about-text {
  margin: 0.5rem 0;
}

.counter-list {
  padding: 0;
}

.counter-list__container {
  border: 2px solid white;
  height: auto;
  display: inline-block;
}

.counter-list__item {
  border: 2px solid red;
  padding: 4px;
}

.settings__dark-mode {
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
